@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&family=Tektur:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(149deg, rgba(45,82,112,1) 18%, rgba(33,48,60,1) 36%, rgba(34,50,62,1) 62%, rgba(47,85,111,1) 81%);
}

main {
    min-height: 100vh;
}

:root {
    --cor-branca: rgb(226 232 240);
    --cinza-claro: rgb(214 211 209);
    --cinza-escuro: rgb(41 37 36);
    --cor-vermelha: rgb(185 28 28);
    --verde-claro: rgb(22 163 74);
}

.btns-connect, .options-schedule {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btns-connect button, .option-btn {
    background-color: var(--cinza-claro);
    padding: 13px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 19px;
    text-transform: uppercase;
    transition: 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 400px;
    font-weight: 700;
}

.filterBlur {
    filter: blur(6px);
}

.icon-exit {
    color: var(--cor-vermelha);
    position: absolute;
    left: 35px;
    top: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

h1 {
    font-family: 'Tektur', system-ui;
    color: var(--cinza-claro);
    letter-spacing: 2px;
}