* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-cinza-escuro);
}

main {
    height: 100vh;
}

:root {
    --cor-branca: rgb(226 232 240);
    --cor-cinza-claro: rgb(214 211 209);
    --cor-cinza-escuro: rgb(41 37 36); 
}