.header .username {
    text-transform: capitalize;
    color: rgb(8 145 178);
}

.container-message {
    position: absolute;
    top: 60px;
    right: 60px;
    padding: 20px;
    background-color: rgb(4 120 87);
    font-size: 25px;
    color: var(--cor-branca);
    border-radius: 5px;
    transition: 0.8s ease-in-out;
    z-index: 0;
}

.success-message {
    top: 170px;
}

.options-schedule .option-btn:hover {
    filter: brightness(75%);
    color: var(--verde-claro);
}

.options-schedule .option-exit:hover {
    color: var(--cor-vermelha);
}

.query-scheduling {
    width: 28%;
    height: 50%;
    background: -moz-linear-gradient(-121deg,  #222225 0%,#47474c 100%,#6e7ff3 100%); background: -webkit-linear-gradient(-121deg,  #222225 0%,#47474c 100%,#6e7ff3 100%); background: linear-gradient(-121deg,  #222225 0%,#47474c 100%,#6e7ff3 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    align-items: center;
    padding: 30px;
    flex-direction: column;
    display: none;
    gap: 40px;
}

.query-scheduling .title-screen-float {
    font-size: 25px;
    text-align: center;
    width: 80%;
    font-weight: 400;
    color: var(--cor-branca);
    margin-top: 10px;
}

.query-scheduling .container-historic {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 300px;
    overflow: auto;
    color: var(--cor-branca);
    padding-right: 10px;
}

.container-historic::-webkit-scrollbar {
    width: 10px;
}

.container-historic::-webkit-scrollbar-thumb {
    border-radius: 45px;
    background: var(--verde-claro);
}

.container-historic::-webkit-scrollbar-track {
    background: transparent;
}

.query-scheduling .item-historic {
    list-style: none;
    font-size: 19px;
    border: solid 2px var(--cor-branca);
    padding: 7px;
    padding-right: 31px;
    border-radius: 5px;
    position: relative;
}

.query-scheduling .item-historic button {
    font-size: 16px;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
    border: none;
    border-radius: 4px;
}

.query-scheduling .item-historic button:nth-child(1) {
    background-color: gray;
    color: var(--cinza-claro);
}

.query-scheduling .item-historic button:nth-child(2) {
    background-color: var(--cor-vermelha);
    color: var(--cinza-claro);
}

.query-scheduling .item-historic p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.query-scheduling .item-historic div {
    display: flex;
    justify-content: space-between;
}

.display-enable {
    display: flex;
}

.query-scheduling .item-historic span {
    font-weight: bold;
    color: var(--verde-claro);
}

.fa-trash {
    color: var(--cor-vermelha);
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.not-found {
    color: var(--cor-vermelha);
    font-size: 20px;
    text-align: center;
    background-color: rgb(248 113 113);
    padding: 15px;
    border-radius: 5px;
    margin: 70px 40px 0 40px;
    list-style: none;
}