.default-btn:hover, .icon-exit:hover,
.btns-connect button:hover {
    filter: brightness(75%);
}

.connecting {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-branca);
    color: black;
    min-height: 50%;
    width: 30%;
    position: absolute;
    z-index: 1;
    align-items: center;
    padding: 15px 10px;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.7s ease-in-out;
    justify-content: center;
}

.display-disable {
    display: none;
}

.display-enable {
    display: flex;
}

.connecting h2 {
    margin: 40px 0;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
    width: 90%;
    border-bottom: 2px solid var(--cor-cinza-claro);
}

.connecting .info-user {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 30px;
    width: 70%;
}

.connecting .info-user .info-input{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    position: relative;
}

.connecting .info-user .info-input input{
    font-size: 18px;
    padding: 4px 8px;
    border-radius: 6px;
}

.connecting .info-user .info-input input:focus {
    outline: 0;
    border: solid 2px rgb(16 185 129);
}

.connecting .info-user .info-input .input-error {
    position: absolute;
    bottom: -22px;
    left: 4px;
    font-size: 13px;
    color: red;
    text-transform: uppercase;
}

.connecting .default-btn {
    background-color: lightblue;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    padding: 12px 30px;
    margin: 50px 0 30px 0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.connecting .email-using {
    color: red;
    font-size: 18px;
    position: absolute;
    bottom: -32px;
    width: 100%;
    text-align: center;
}

.info-user .info-input i {
    position: absolute;
    top: 35px;
    right: 8px;
    cursor: pointer;
    color: gray;
}