.default-btn-connect:hover,
.btns-connect button:hover {
    opacity: 0.6;
}

.connecting {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-branca);
    color: black;
    min-height: 50%;
    width: 30%;
    position: absolute;
    z-index: 1;
    align-items: center;
    padding: 15px 10px;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.7s ease-in-out;
    justify-content: center;
    background: -moz-linear-gradient(-121deg,  #222225 0%,#47474c 100%,#6e7ff3 100%); background: -webkit-linear-gradient(-121deg,  #222225 0%,#47474c 100%,#6e7ff3 100%); background: linear-gradient(-121deg,  #222225 0%,#47474c 100%,#6e7ff3 100%);
    color: var(--cinza-claro);
}

.display-disable {
    display: none;
}

.display-enable {
    display: flex;
}

.connecting h2 {
    margin: 40px 0;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
    width: 90%;
}

.connecting .info-user {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 30px;
    width: 70%;
}

.connecting .info-user .info-input{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    position: relative;
}

.connecting .info-user .info-input input{
    font-size: 18px;
    padding: 4px 8px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--cinza-claro);
    color: var(--cinza-claro);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px rgb(68 64 60) inset;
    border: 1px solid black;
    -webkit-text-fill-color: var(--cor-branca);
}

.connecting .info-user .info-input input:focus {
    outline: 0;
    border-bottom: 1px solid rgb(16 185 129);
}

.connecting .info-user .info-input .input-error {
    position: absolute;
    bottom: -22px;
    left: 4px;
    font-size: 13px;
    color: rgb(185 28 28);
    text-transform: uppercase;
}

.connecting .default-btn-connect {
    background: #6e7ff3; background: -moz-linear-gradient(-121deg,  #6e7ff3 0%,#1d4652 0%,#3e7c8a 100%);
    background: -webkit-linear-gradient(-121deg,  #6e7ff3 0%,#1d4652 0%,#3e7c8a 100%); background: linear-gradient(-121deg,  #6e7ff3 0%,#1d4652 0%,#3e7c8a 100%);
    border: none;
    border-radius: 6px;
    font-size: 18px;
    padding: 12px 30px;
    margin: 50px 0 30px 0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.connecting .email-using {
    color: var(--cor-vermelha);
    font-size: 18px;
    position: absolute;
    bottom: -36px;
    width: 100%;
    text-align: center;
}

.info-user .info-input i {
    position: absolute;
    top: 3px;
    right: 8px;
    cursor: pointer;
    color: gray;
}

.container-loading i{
    width: min-content;
    height: min-content;
}